<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        HEALTH GENIE
    </title>
    <link rel="icon" type="image/png" href="https://i.ibb.co/sPTNFWw/Whats-App-Image-2019-05-05-at-11-17-39-AM.jpg">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href='.//static/about.css' ) }} /> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <!-- <script src={ { url_for( 'static', filename='main.js' ) }}></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    <style>
        body {
            /* background-color: #e3b264; */
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBf-_IlIChgkl0VKgHpyPiGnYiztihz5-216x0SGUSiir6-dXk");

            /* Full height */
            /* height: 100%;     */
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>

<body>

    <div class="container">
        {% include 'includes/_navbar.html' %} {% block body %} {% endblock %}
    </div>


</body>

</html>



<script>

    $(document).ready(function () {



        $("#add").on('click', function (e) {
            e.preventDefault();
            input = jQuery('<input id="sympton" style="border: 2px solid black;" name="mytext[]" class="form-control" type="text" autocomplete="off">');
            jQuery('#form').append(input);

            br = jQuery('<br>')
            jQuery('#form').append(br);

        });





    });

</script>